<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootshardingjdbc.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.springbootshardingjdbc.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phone" jdbcType="BIGINT" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <resultMap id="UserOrderResultMap" type="com.example.springbootshardingjdbc.model.vo.UserOrderVo">
    <association property="user" resultMap="BaseResultMap"/>
    <collection property="userOrderList" select="com.example.springbootshardingjdbc.mapper.UserOrderMapper.listByUserPhone" column="phone" fetchType="eager"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, `name`, age, gmt_modified, gmt_create, address
  </sql>

  <select id="listOrderByPhone" parameterType="java.lang.Long" resultMap="UserOrderResultMap">
    select 
      `user`.*
    from t_user  `user`
    where  `user`.phone = #{phone,jdbcType=BIGINT}
  </select>

  <select id="listByPhones" parameterType="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    <where>
        <if test="list != null and list.size>0">
            phone in
            <foreach collection="list" item="phone" open="(" close=")" separator=",">
              #{phone,jdbcType=BIGINT}
            </foreach>
        </if>
    </where>
    order by age
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="page" parameterType="com.example.springbootshardingjdbc.model.repquest.UserRequest" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
  </select>

  <select id="selectByPhone" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where phone = #{phone,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.springbootshardingjdbc.model.User" useGeneratedKeys="true">
    insert into t_user (phone, `name`, age, 
      gmt_modified, gmt_create, address
      )
    values (#{phone,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.springbootshardingjdbc.model.User" useGeneratedKeys="true">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        phone,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        #{phone,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.springbootshardingjdbc.model.User">
    update t_user
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.example.springbootshardingjdbc.model.User">
    update t_user
    set phone = #{phone,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>